.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    width: 40px;
}

.nav-menu {
    display: flex;
}

.nav-buttons {
    margin-right: 90px;
}

.cart-image {
    width: 45px;
}